# Solar for Aarhus
## Can we get solar panels on every school and daycare roof in Aarhus Kommune?

In [1]:

import pandas as pd
schools = pd.read_csv("../data/raw/skoler.csv") #list of schools in Aarhus Kommune
panels = pd.read_csv("../data/raw/metadata.csv") #list of panels in Aarhus Kommune

In [2]:
panels.columns = panels.columns.str.strip()

In [3]:
#sample = pd.read_csv("../data/raw/aktuel.csv") #not used yet. Data about how much power is produced

# All Department of Children and Young People (MBU) properties with Solar Panels
Preliminary information gathering

In [4]:
panels.drop(columns=['_id', 'date'], inplace=True) #take out unneeded columns

In [5]:
panels['magistrat'] = panels['magistrat'].str.strip() #strip whitespace for later merge
panels['location'] = panels['location'].str.strip()
panels.loc[:, 'location'] = panels['location'].str.strip() #take out whitespace
panels.loc[:, 'sid'] = panels['sid'].astype(int)#change SID to integer

In [6]:
MBU_panels = panels.loc[panels['magistrat'] == 'MBU'] #filter for MBU panels

In [7]:
MBU_panels.drop(columns=['magistrat'], inplace=True)
# MBU_panels.head() # debug

/var/folders/hf/6hb2wp2j1fn707lw10cw1t4h0000gn/T/ipykernel_76847/2767539301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MBU_panels.drop(columns=['magistrat'], inplace=True)

# Data Collection
## Which schools have solar panels already? 
Data from opendata.dk. Combining schools data with panels data.

In [8]:
schools.drop(columns=['_id', 'Periode', 'Adresse', 'Postnr', 'Skolekode', 'Antal', 'LINK', 'Ledernavn', 'Ledermail', 'Opdateret'], inplace=True)
schools['Skolenavn'] = schools['Skolenavn'].str.strip()

In [9]:
# Normalise the school names
def normalize_school_name(name):
    return name.lower().replace(' ', '').replace('skolen', 'skole').strip()


# Normalize the school names in both DataFrames
MBU_panels.loc[:, 'normalized_name'] = MBU_panels.loc[:,'location'].apply(normalize_school_name)
schools.loc[:, 'normalized_name'] = schools['Skolenavn'].apply(normalize_school_name)

/var/folders/hf/6hb2wp2j1fn707lw10cw1t4h0000gn/T/ipykernel_76847/4113839958.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MBU_panels.loc[:, 'normalized_name'] = MBU_panels.loc[:,'location'].apply(normalize_school_name)

In [19]:
schools.head() #debug

          Skolenavn        lat        lng  Postdist  normalized_name
0   Stensagerskolen  56.166771  10.137611  Brabrand   stensagerskole
1  Bakkegårdsskolen  56.253349  10.148964     Trige  bakkegårdsskole
2    Ellevangskolen  56.203037  10.217692   Risskov    ellevangskole
3       Beder Skole  56.061577  10.211610     Beder       bederskole
4        Elev Skole  56.241188  10.199622   Lystrup        elevskole

In [11]:
#MBU_panels.head() #debug

In [12]:
# Merge the DataFrames to add a column indicating the presence of solar panels
merged_df = schools.merge(MBU_panels, left_on='normalized_name', right_on='normalized_name', how='left', indicator=True)

merged_df.loc[:, 'sid'] = merged_df['sid'].fillna(0).astype(int)#change SID to integer


#print(merged_df) #debug

In [13]:

# Replace NaN values with 0 in the 'sid' column and convert it to integer
merged_df['sid'] = merged_df['sid'].astype(int)

# Add a new column 'Has Solar' based on the merge indicator
merged_df['Has Solar'] = merged_df['_merge'].apply(lambda x: 'Has solar' if x == 'both' else "Doesn't have solar")

# Drop the merge indicator column
merged_df = merged_df.drop(columns=['_merge', 'location'])

# Separate the dataframes
schools_with_solar = merged_df[merged_df['Has Solar'] == 'Has solar']
schools_without_solar = merged_df[merged_df['Has Solar'] == "Doesn't have solar"]

schools_without_solar = schools_without_solar.sort_values(by='Skolenavn') #alphabetise
schools_with_solar=schools_with_solar.sort_values(by='Skolenavn')

#Reset index for the resulting dataframes
schools_with_solar.reset_index(drop=True, inplace=True)
schools_without_solar.reset_index(drop=True, inplace=True)

In [21]:
merged_df = merged_df.drop(columns=['normalized_name'])
print(merged_df)

               Skolenavn        lat        lng     Postdist    sid  \
0        Stensagerskolen  56.166771  10.137611     Brabrand      0
1       Bakkegårdsskolen  56.253349  10.148964        Trige  22224
2         Ellevangskolen  56.203037  10.217692      Risskov      0
3            Beder Skole  56.061577  10.211610        Beder      0
4             Elev Skole  56.241188  10.199622      Lystrup      0
5           Elsted Skole  56.241524  10.228948      Lystrup  60129
6           Engdalskolen  56.152943  10.109608     Brabrand      0
7     Gammelgaardsskolen  56.159332  10.157077       Åbyhøj      0
8            Sødalskolen  56.150375  10.136786     Brabrand      0
9            Hasle Skole  56.169296  10.163680     Aarhus V  16022
10        Bavnehøj Skole  56.106026  10.096877   Hasselager      0
11           Holme Skole  56.116238  10.178248     Højbjerg  16008
12         Højvangskolen  56.129898  10.115003       Viby J  54388
13    Katrinebjergskolen  56.173824  10.196321     Aarhus N  60131
14         Kaløvigskolen  56.260174  10.342974    Skødstrup      0
15       Kragelundskolen  56.115410  10.197737     Højbjerg  16018
16        Lisbjergskolen  56.218662  10.157976     Aarhus N  16019
17    Læssøesgades skole  56.146378  10.188354     Aarhus C      0
18         Malling Skole  56.039150  10.198192      Malling  16009
19       Møllevangskolen  56.164825  10.184485     Aarhus V      0
20         Mårslet Skole  56.068867  10.157019      Mårslet  16010
21  Frederiksbjerg skole  56.144764  10.198480     Aarhus C  41460
22         Risskov Skole  56.192966  10.229043      Risskov      0
23       Rosenvangskolen  56.131271  10.183323       Viby J  54449
24         Rundhøjskolen  56.118412  10.178171     Højbjerg  16020
25   Sabro-Korsvejskolen  56.211243  10.023426        Sabro  16023
26      Samsøgades Skole  56.162449  10.202540     Aarhus C      0
27        Skovvangskolen  56.175533  10.208733     Aarhus N      0
28       Skødstrup Skole  56.271587  10.308501    Skødstrup  16011
29           Skåde Skole  56.104164  10.207989     Højbjerg  16024
30        Solbjergskolen  56.042149  10.084158     Solbjerg  16014
31          Strandskolen  56.200199  10.244444      Risskov      0
32          Sølystskolen  56.211697  10.283297          Egå  16025
33      Søndervangskolen  56.111263  10.149488       Viby J  16016
34           Tilst Skole  56.189537  10.113276        Tilst  16012
35           Hårup Skole  56.288342  10.216692    Hjortshøj      0
36       Tranbjergskolen  56.090076  10.140480  Tranbjerg J      0
37     Vestergårdsskolen  56.129375  10.156499       Viby J      0
38            Viby Skole  56.127964  10.164447       Viby J  22229
39           Virupskolen  56.243191  10.272163    Hjortshøj      0
40       Vorrevangskolen  56.185951  10.199095     Aarhus N      0
41             Åby Skole  56.150635  10.164974       Åbyhøj      0
42          Næshøjskolen  56.146523   9.998808     Harlev J      0
43         Skæring Skole  56.226681  10.298241          Egå  16015
44       Skjoldhøjskolen  56.174107  10.113787        Tilst  16021
45         Lystrup Skole  56.236736  10.229774      Lystrup      0
46        Langagerskolen  56.118366  10.133548       Viby J      0
47        Netværksskolen  56.213264  10.171948     Aarhus N      0
48         Ellehøjskolen  56.169418  10.150394     Aarhus V      0

             Has Solar
0   Doesn't have solar
1            Has solar
2   Doesn't have solar
3   Doesn't have solar
4   Doesn't have solar
5            Has solar
6   Doesn't have solar
7   Doesn't have solar
8   Doesn't have solar
9            Has solar
10  Doesn't have solar
11           Has solar
12           Has solar
13           Has solar
14  Doesn't have solar
15           Has solar
16           Has solar
17  Doesn't have solar
18           Has solar
19  Doesn't have solar
20           Has solar
21           Has solar
22  Doesn't have solar
23           Has solar
24           Has solar
25           Has solar
26  Doesn't have solar
27  Doesn't have solar
28           Has solar
29           Has solar
30           Has solar
31  Doesn't have solar
32           Has solar
33           Has solar
34           Has solar
35  Doesn't have solar
36  Doesn't have solar
37  Doesn't have solar
38           Has solar
39  Doesn't have solar
40  Doesn't have solar
41  Doesn't have solar
42  Doesn't have solar
43           Has solar
44           Has solar
45  Doesn't have solar
46  Doesn't have solar
47  Doesn't have solar
48  Doesn't have solar

## Daycares

In [15]:
# Filter out the schools with solar panels from the MBU panels DataFrame
daycare_locations = MBU_panels[~MBU_panels['normalized_name'].isin(schools_with_solar['normalized_name'])]

daycare_locations.drop(columns=['normalized_name'], inplace=True)
# Display the resulting DataFrame
print(daycare_locations)

      sid                 location
1   54399            Ajstrupvej 49
3   60127            Ellekærskolen
6   16017         Gammelgårdskolen
10  57123       Indelukket 20 (KF)
11  54409             Indelukket 5
12  54374          Jernaldervej 3A
13  54386          Kantorvænget 33
16  57120    L.A.Rings Vej 56 (KF)
17  54376          Lindenborgvej 7
21  57117  Møllevangs alle 20 (KF)
22  54392             Nygårdsvej 5
23  54403     Pilegårdsvej 95 (BM)
32  54280     Strandvejen  38 (BM)
36  16013         Vestergårdskolen
38    298           Vidtskuevej 25

/var/folders/hf/6hb2wp2j1fn707lw10cw1t4h0000gn/T/ipykernel_76847/2101282922.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daycare_locations.drop(columns=['normalized_name'], inplace=True)

In [16]:
#print(schools_with_solar)
schools_with_solar.drop(columns=['normalized_name'], inplace=True)
schools_without_solar.drop(columns=['normalized_name'], inplace=True)

In [17]:
schools_with_solar.to_csv("../data/processed/schools_with_solar.csv", index=False)
schools_without_solar.to_csv("../data/processed/schools_without_solar.csv", index=False)

In [22]:
merged_df.to_csv("../data/processed/schools.csv", index=False)

In [18]:
MBU_panels = MBU_panels.sort_values(by='location') #alphabetise
#print(MBU_panels)

# API for querying "aktuel"
## Query example (first 5 results):

https://admin.opendata.dk/api/3/action/datastore_search?resource_id=251528ca-8ec9-4b70-9960-83c4d0c4e7b6 &limit=5

## Query example (results containing "jones"):

https://admin.opendata.dk/api/3/action/datastore_search?q=jones&resource_id=251528ca-8ec9-4b70-9960-83c4d0c4e7b6

## Query example (via SQL statement):

https://admin.opendata.dk/api/3/action/datastore_search_sql?sql=SELECT * from "251528ca-8ec9-4b70-9960-83c4d0c4e7b6" WHERE title LIKE 'jones'

# Querying API for produktion

## Query example (first 5 results):

https://admin.opendata.dk/api/3/action/datastore_search?resource_id=3028c112-a089-474d-a9c1-73d1c8352fca &limit=5

## Query example (results containing "jones"):

https://admin.opendata.dk/api/3/action/datastore_search?q=jones&resource_id=3028c112-a089-474d-a9c1-73d1c8352fca

## Query example (via SQL statement):

https://admin.opendata.dk/api/3/action/datastore_search_sql?sql=SELECT * from "3028c112-a089-474d-a9c1-73d1c8352fca" WHERE title LIKE 'jones'